.box{
  width: 90%;
  height: 90%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.99;
	z-index: 9;
  top: 5%;
  margin-left: 5%;
	bottom: 5%;
	margin-right: 5%;
}

.window {
  display: flex;
  justify-content: center;
  background: #353535;
  font-size: 3rem;
  color: #fff;
  box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
  height: 100%;
  width: 90%;
  border-radius: 4px;
  transition: all 500ms;
  overflow: hidden;
  padding-left: 2.5%;
	padding-right: 2.5%;
	top: 5%;
	bottom: 5%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.window h6 {
	margin-block-end: 1em;
	margin-block-start: 1em;
}

.window th {
	margin-block-end: 1em;
	margin-block-start: 1em;
	font-size: 0.3em;
}

::-webkit-scrollbar {
	margin-top: 0px;
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #353435;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.window .tg {
	border-collapse:collapse;
	border-spacing:0;
	width: 100%;
	text-align: center;
}
.window .tg td{
	border-color:#232120;
	border-style:solid;
	border-width:1px;
	font-family:Arial, sans-serif;
	font-size:14px;
  overflow:hidden;
	padding:10px 5px;
	word-break:normal;
}
.window .tg th{
	border-color:#131313;
	border-style:solid;
	border-width:1px;
	font-family:Arial, sans-serif;
	font-size:14px;
  font-weight:normal;
	overflow:hidden;
	padding:10px 5px;
	word-break:normal;
}

.window .tg .tg-r25x{
	background-color:#353435;
	color:#ffffff;
	vertical-align:top
}

.window .tg .tg-7x22{
	background-color:#232120;
	color:#ffffff;
  vertical-align:top
}
