#play {
  cursor: pointer;
  position: absolute;
}

// Spin animation
@keyframes spin {
  to { transform: rotate(360deg); }
}

.stroke-solid {
  stroke-dashoffset: 0;
  stroke-dashArray: 300;
  stroke-width: 4px;
  transition: stroke-dashoffset 1s ease,
              opacity 1s ease;
}

.icon {
  transform: scale(.8);
  transform-origin: 50% 50%;
  transition: transform 200ms ease-out;
}

// Hover
#play:hover {
  .stroke-solid {
    opacity: 1;
    stroke-dashoffset: 300;
  }
  .icon {
    transform: scale(.9);
  }
}

.btn {
	position: relative;
	width: 40px;
	height: 40px;
	border: white 3px solid;
	border-radius: 3px;
	cursor: pointer;
	transition: border 0.1s ease-in-out;

	&:hover {
		border: #333 3px solid;
		.bar {
			background-color: #333;
		}
	}

	.bar {
		display: inline-block;
		position: absolute;
		top: 10px;
		left: 0;
		width: 3px;
		height: 20px;
		border-radius: 3px;
		background-color: white;
		transform-origin: center;
		transition: transform 0.4s ease-in-out, background 0.1s ease-in-out;
	}

	&.pause {
		.bar-1 {
			transform: translateX(13.5px) translateY(0px) rotate(0deg);
		}
		.bar-2 {
			transform: translateX(24px) translateY(0px) rotate(0deg);
		}
	}

	&.play {
		.bar-1 {
			transform: translateX(20px) translateY(-5px) rotate(-55deg);
		}
		.bar-2 {
			transform: translateX(20px) translateY(5px) rotate(-125deg);
		}
	}

}
